<ion-view title="Chart Filters">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input pickadate-wrapper">
        <span class="input-label">From</span>
        <input type="text" class="datepicker-start" placeholder="Tap to choose a date..."></input>
      </label>
      <label class="item item-input pickadate-wrapper">
        <span class="input-label">To</span>
        <input type="text" class="datepicker-end" placeholder="Tap to choose a date..."></input>
      </label>
    </div>
  </ion-content>
</ion-view>
