<ion-view title="Settings">
  <ion-content class="has-header padding">
    <div class="list">
      <div class="item item-divider">
        Accounts
      </div>

      <a class="item item-icon-left" ng-click="linkDropbox()">
        <i class="icon"
           ng-class="{'ion-social-dropbox-outline': !dropboxAuthenticated,
                      'ion-ios7-checkmark': dropboxAuthenticated}"></i>
        <span>{{ dropboxAuthenticated && 'Connected with Dropbox' ||
                                         'Set up Dropbox Sync' }}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
