<ion-view title="Settings">
  <ion-content class="has-header padding settings">
    <div class="list">
      <div class="item item-divider">
        Accounts
      </div>
      <a class="item item-icon-left" ui-sref="tab.manage_dropbox"
         ng-show="dropboxAuthenticated">
        <i class="icon ion-ios7-checkmark"></i>
        <span>Connected with Dropbox</span>
      </a>
      <a class="item item-icon-left" ng-click="linkDropbox()"
         ng-show="!dropboxAuthenticated">
        <i class="icon ion-social-dropbox-outline"></i>
        <span>Set up Dropbox Sync</span>
      </a>

      <div class="item item-divider">
        Developer
      </div>
      <a class="item item-icon-left" href="#/tab/raw_data">
        <i class="icon ion-ios7-folder-outline"></i>
        <span>View Raw Data</span>
      </a>
      <a class="item item-icon-left" href="#/tab/clear_all_data">
        <i class="icon ion-ios7-trash-outline"></i>
        <span>Clear All Data</span>
      </a>
    </div>
  </ion-content>
</ion-view>
