$background: #F7F7F7;
$border: #DDD;
$highlight: #34AADC;  // Blue.
$second-highlight: #4CD964;  // Green.
$subtext: #C7C7CC;
$text: #1F1F21;

$assertive: #ef4e3a;
$balanced: #4CD964;
$calm: #43cee6;
$energized: #f0b840;

$status-bar: 20px;

html body {
    background: $background;
    color: $text;
}

[ui-sref]:hover {
    cursor: pointer;
}

.divider-value {
    font-weight: normal;
    position: absolute;
    right: 12px;
}

.item-input.pickadate-wrapper {
    position: static;

    input[readonly] {
        background: none;
        cursor: text;
    }
    .picker {
        right: 0;
        top: 50px;
    }
}

.raw-data {
    .scroll, .card, textarea {
        height: 100%;
    }
    .item-input {
        height: 80%;
    }
}

.clear-all-data {
    text-align: center;

    .ion-ios7-trash-outline {
        display: block;
        font-size: 70px;
        text-align: center;
    }
}

label.item-stacked-label {
    .input-label {
        left: 3.5px;
        position: relative;
    }
    textarea,
    p {
        padding-left: 3.5px;
    }
}

.list label.item-stacked-label {
    padding-bottom: 15px;
    padding-top: 15px;
}

button.button-block.submit {
    bottom: 10px;
}

.item p.no-wrap {
    white-space: normal;
}

.notes-textarea {
    min-height: 75px;
}

.item.range .icon.small {
    font-size: 12px;
}
