$background: #F7F7F7;
$border: #DDD;
$highlight: #34AADC;  // Blue.
$second-highlight: #4CD964;  // Green.
$subtext: #C7C7CC;
$text: #1F1F21;

$assertive: #ef4e3a;
$balanced: #4CD964;

$status-bar: 20px;

html body {
    background: $background;
    color: $text;
}

.item-input.pickadate-wrapper {
    position: static;

    input[readonly] {
        background: none;
        cursor: text;
    }
    .picker {
        right: 0;
        top: 50px;
    }
}

.raw-data {
    .scroll, .card, textarea {
        height: 100%;
    }
    .item-input {
        height: 80%;
    }
}

.clear-all-data {
    text-align: center;

    .ion-ios7-trash-outline {
        display: block;
        font-size: 80px;
        text-align: center;
    }
}
